<h1>Editing bonuse</h1>

<%= form_for(@bonuse) do |f| %>

  <p>
    <%= f.label :project_id %><br />
	<%= @projects = Project.find(:all).map {|p| [p.title, p.id]} 
		f.select(:project_id, @projects) %>
  </p>

  <p>
    <%= f.label :user_id %><br />
  	<%= users = User.find(:all).map {|u| [u.account_name, u.id]} 
		f.select(:user_id, users) %>

  </p>

  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bonuse %> |
<%= link_to 'Back', bonuses_path %>
