<h1>Editing attendance</h1>

<%= form_for(@attendance) do |f| %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @attendance %> |
<%= link_to 'Back', attendances_path %>
